################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lms/.vs/Lms/v15
/Lms/LmsWeb/App_Start/BundleConfig.cs
/Lms/LmsWeb/Areas/HelpPage
/Lms/.vs/config
/Lms/Model/obj/Debug
/Lms/Model/bin/Debug
/Lms/packages
/Lms/Service/obj/Debug
/Lms/Service/bin/Debug
/Lms/ViewModel/obj/Debug
/Lms/ViewModel/bin/Debug
/Lms/LmsWeb
/Lms/RequestModel/bin/Debug
/Lms/SeedDataApp/obj/Debug
/Lms/SeedDataApp/bin/Debug
/Lms
/LmsClient/.vs
/LmsClient/LmsClient/bin
/LmsClient/LmsClient/obj/Debug
/LmsClient/packages
/LmsClient/LmsClient/LmsClient.csproj.user
